In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:ciroazzi@127.0.0.1/sparkifydb

In [3]:
%sql SELECT * FROM songplays WHERE artist_id is NOT NULL LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
1 rows affected.

[(5448, datetime.datetime(2018, 11, 21, 21, 56, 47, 796000), 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[(8, 'Kaylee', 'Summers', 'F', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (101, 'Jayden', 'Fox', 'M', 'free'),
 (83, 'Stefany', 'White', 'F', 'free')]

In [5]:
%sql SELECT * FROM songs LIMIT 25;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
25 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546),
 ('SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', 0, 177.47546),
 ('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, 209.60608),
 ('SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 'ARKFYS91187B98E58F', 0, 267.7024),
 ('SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)', 'ARD0S291187B9B7BF5', 0, 114.78159),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57016),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, 269.81832),
 ('SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', 0, 266.39628),
 ('SOKEJEJ12A8C13E0D0', 'The Urgency (LP Version)', 'ARC43071187B990240', 0, 245.21098),
 ('SOMUYGI12AB0188633', 'La Culpa', 'ARL7K851187B99ACD2', 0, 226.35057),
 ('SORAMLE12AB017C8B0', 'Auguri Cha Cha', 'ARHHO3O1187B989413', 0, 191.84281),
 ('SOBONFF12A6D4F84D8', 'Tonight Will Be Alright', 'ARIK43K1187B9AE54C', 1986, 307.3824),
 ('SOHUOAP12A8AE488E9', 'Floating', 'ARD842G1187B997376', 1987, 491.12771),
 ('SOUQQEA12A8C134B1B', 'High Tide', 'ARIG6O41187B988BDD', 0, 228.5971),
 ('SOILPQQ12AB017E82A', 'Sohna Nee Sohna Data', 'AR1ZHYZ1187FB3C717', 0, 599.24853),
 ('SOXLBJT12A8C140925', 'Caught In A Dream', 'ARYKCQI1187FB3B18F', 2004, 290.29832),
 ('SOZVMJI12AB01808AF', 'Synthetic Dream', 'ARNPAGP1241B9C7FD4', 0, 165.69424),
 ('SOWTBJW12AC468AC6E', 'Broken-Down Merry-Go-Round', 'ARQGYP71187FB44566', 0, 151.84934),
 ('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', 0, 269.58322),
 ('SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', 'ARMAC4T1187FB3FA4C', 2004, 207.77751),
 ('SOBLGCN12AB0183212', 'James (Hold The Ladder Steady)', 'AR47JEX1187B995D81', 1985, 124.86485),
 ('SOPSWQW12A6D4F8781', 'Made Like This (Live)', 'ARGIWFO1187B9B55B7', 0, 225.09669),
 ('SOZQDIU12A58A7BCF6', 'Superconfidential', 'ARNTLGG11E2835DDB9', 0, 338.31138)]

In [6]:
%sql SELECT * FROM artists LIMIT 20;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
20 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', nan, nan),
 ('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan),
 ('ARXR32B1187FB57099', 'Gob', '', nan, nan),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan),
 ('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan),
 ('ARNTLGG11E2835DDB9', 'Clp', '', nan, nan),
 ('ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', nan, nan),
 ('ARL7K851187B99ACD2', 'Andy Andy', '', nan, nan),
 ('ARHHO3O1187B989413', 'Bob Azzam', '', nan, nan),
 ('ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', nan, nan),
 ('ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', 43.64856, -79.38533),
 ('ARIG6O41187B988BDD', 'Richard Souther', 'United States', 37.16793, -95.84502),
 ('AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', nan, nan),
 ('ARYKCQI1187FB3B18F', 'Tesla', '', nan, nan),
 ('ARNPAGP1241B9C7FD4', 'lextrical', '', nan, nan),
 ('ARQGYP71187FB44566', 'Jimmy Wakely', 'Mineola, AR', 34.31109, -94.02978)]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 'Thursday'),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 'Thursday'),
 (datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, 1, 44, 11, 2018, 'Thursday'),
 (datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 21, 1, 44, 11, 2018, 'Thursday'),
 (datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), 21, 1, 44, 11, 2018, 'Thursday')]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).